<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search result</title>
</head>
<body>
<a>Number of found </a><a th:text="${imageSearchResponseDto.countCoincidences}"></a>
<br>
<div th:each="imageDto : ${imageSearchResponseDto.images}">
    <a>Cropped picture</a>
    <br>
    <img th:src="${imageDto.croppedPicturePath}">
    <br>
    <a>Full picture</a>
    <br>
    <img th:src="${imageDto.fullImagePath}">
    <br>
    <a>Author</a>
    <br>
    <a th:text="${imageDto.author}"></a>
    <br>
    <a>Camera</a>
    <br>
    <a th:text="${imageDto.cameraName}"></a>
    <br>
    <a>Tags</a>
    <br>
    <a th:text="${imageDto.tags}"></a>
    <hr>
</div>
</body>
</html>